*{
padding:0;
margin:0;
box-sizing: border-box;
}
header {
        display: flex;
        background-color: bisque;
                img{ width: 8%;}
        }


main{
        margin: 1%;
        display:flex;
        background-color: rgb(245, 196, 203); 
        div {
                background-image: url(./imagenes/choco_cookies2.png);
                }
        }